* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background: rgb(157, 136, 235);
}

.container {
  margin: 8rem auto;
  width: 25rem;
}

.photo {
  height: 8rem;
  width: 25rem;
  background-image: linear-gradient(75deg, #b77dd8, #ad7bd4);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.image {
  height: 2rem;
  width: 2rem;
  background: white;
  border-radius: 50%;
  display: flex;
  place-content: center;
  place-items: center;
}

.line {
  height: 4rem;
  width: 3px;
  background-color: white;
  margin-left: 3rem;
}

.text {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-left: -12rem;
}

.icon {
  display: flex;
  place-items: center;
  justify-content: space-between;
  margin: 0 2rem 0 2rem;
}

.port {
  height: 12.5rem;
  width: 25rem;
  background: rgb(95, 82, 128);
}

.line2 {
  height: 2.5rem;
  width: 3px;
  background-color: white;
  margin-left: 3rem;
  opacity: 0.7;
}

.dotline {
  display: flex;
  align-items: center;
}

.text2 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-left: 1.4rem;
}

.line3 {
  height: 1.5rem;
  width: 3px;
  background-color: antiquewhite;
  margin-left: 3rem;
  opacity: 0.7;
}

.dot {
  height: 0.75rem;
  width: 0.75rem;
  background-color: antiquewhite;
  border-radius: 50%;
  margin: 5px 0 0 2.7rem;
}

.line4 {
  height: 1.97rem;
  width: 3px;
  background-color: antiquewhite;
  margin-left: 3rem;
  opacity: 0.7;
}

.third {
  width: 25rem;
  height: 6rem;
  background-image: linear-gradient(75deg, #b77dd8, #ad7bd4);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.line5 {
  height: 2rem;
  width: 3px;
  background-color: antiquewhite;
  margin-left: 3rem;
}

.imagee {
  display: flex;
  place-items: center;
  /* justify-content: space-between; */
  margin: 0 2rem 0 2rem;
}

.text3 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-left: 1rem;
}

.pic {
  width: 16px;
}
